@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans');

body, html {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Amatic SC', cursive;
}